*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav{
    height: 60px;
    width: 100%;
}

img.logo{
    height: 100px;
    width: 125px;    
    padding: 0 50px;
}

nav ul{
    float: right;
    margin-right: 40px;
}

nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 60px;
}

nav a{
    font-size: 18px;
    color: green;
    text-transform: uppercase;
    padding: 7px 10px;
}

a{
  color: black;
}

a.active,a:hover{
    font-weight: bold;
    transition: .5s;
}

nav #icon{
    color: black;
    line-height: 60px;
    float: right;
    margin-right: 40px;
    display: none;
    margin-right: 40px;
}

section.sec1{
    max-width: 700px;
    display: flex;
    margin: 50px auto;
}

img.papa{
    height: 200px;
    width: 200px;
    margin: 20px;
}

main section p{
    margin: 0;
    margin-top: 50px;
    text-align: center;
    color: black;
}

.about p{
  margin: 50px;
}

.centered {
    text-align: center;
    font-size: 30px;
    margin: 20px;
    color: green;
    font-weight: bold;
  }

  .sec2 .animate{
    animation-name: ani;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
  }

  .sec2 p{
    font-size: 20px;
    padding: 50px;
  }

  .sec3 ul{
    max-width: 550px;
    margin: 0 auto;
    list-style: none;
  }

  .sec3 li{
    display: inline-block;
    margin: 15px;
  }

  .sec3 img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: solid green;
  }

  .sec3 h3,.sec3 p{
    text-align: center;
    width: 100px;
  }

  .sec3 h2{
    text-align: center;
    color: green;
    margin: 10px;
  }

  .sec3 p{
    margin: 0;
  }

  .sec4{
    margin: 50px 0;
  }

  .sec4 h2{
    color: green;
    text-align: center;
  }

  .sec4 ul{
    list-style: none;
    max-width: 80%;
    margin: 0 auto;
  }

  .sec4 li{
    display: inline-block;
    width: 50px;
    margin: 40px;
  }

  .sec4 img{
    max-width: 50px;
    height: 50px;
    margin:  0 auto;
  }

  .sec4 div{
    max-width: 100px;
    margin: auto;
    background-color: green;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
  }

  .sec4 div a{
    color: white;
  }

  footer{
    max-width: 100%;
    margin: auto;
    padding: 50px;
    border-top: solid 1px black;
  }

  footer ul{
    list-style: none;
    display: inline-block;
    margin: 0 50px;
  }

  footer li{
    line-height: 30px;
  }

  footer ul li h4{
    color: green;
  }

  footer div img{
    width: 150px;
  }
  
  footer div{
    display: inline-block;
  }

  footer div h4{
    color: green;
    text-align: center;
  }

  .about{
    margin: 100px 20px;
  }


  .cont{
    margin: 50px 0;
    text-align: center;
    line-height: 50px;
  }

  .cont h1{
    color: green;
    font-size: 40px;
    margin: 20px 0;
  }

  .cont a{
    cursor: pointer;
  }

  .secjyoti{
    max-width: 500px;
    margin: 20px auto;
    display: block;
  }

  .secjyoti .jyoti{
    max-width: 400px;
    margin: auto;
    display: block;
    text-align: center;

  }

  .secjyoti .jyoti img{
    border: solid green;
    width: 300px;
    border-radius: 50%;
  }

  .secjyoti h2{
    text-align: center;
    color: green;
    margin: 10px;
  }

  .secjyoti .jyoti p{
    margin: 0;
  }

  span{
    color: green;
    font-size: 20px;
    font-weight: bold;
  }

@media(max-width:909px){
    img.logo{
        padding: 0 10px;
    }
   nav #icon{
    display: block;
   }
   nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 80px;
    right: -110%;
    background-color: white;
    text-align: center;
    transition: all .5s;
   }
   nav li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
   }
   nav a{
    font-size: 20px;
   }
   a.active,a:hover{
    font-weight: bold;
   }
   nav ul.show{
    right: -40px;
   }
   section.sec1{
    display: block;
   }
   img.papa{
    width: 150px;
    display: block;
  margin-left: auto;
  margin-right: auto;
   }
   main section p{
    margin: 20px;
   }
   .centered{
    font-size: 20px;
    margin: 20px 0;
   }
   section .animate{
    opacity: 0;
    filter: blur(5px);
    transition: 1s;
  }

  section.show-animate .animate{
    opacity: 1;
    filter: blur(0);
  }
   .sec2 .animate{
    transform: translateX(-100%);
  }

  .sec2.show-animate .animate{
    transform: translateX(0);
  }
  .sec4 li{
    margin: 30px;
  }
  .sec4 ul{
    max-width: 70%;
  }
  .sec3 ul{
    max-width: 80%;
  }
  footer ul{
    margin: 10px 0;
  }
  footer div img{
    width: 80px;
    margin-right: 50px;
  }
  footer ul li{
    margin-left: 20px;
  }
  footer{
    padding: 10px;
  }
  .secjyoti .jyoti img{
    width: 300px;
  }
  .sec2 p{
    padding: 10px;
  }
}

@keyframes ani {
  from{
      transform: translateX(-100%);
    }
  to{
      transform: translateX(0);
    }
}